@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-blue-50: #eaf6fc;
  --color-blue-100: #d6eff9;
  --color-blue-200: #ade0f3;
  --color-blue-300: #85d1ed;
  --color-blue-400: #5cc2e7;
  --color-blue-500: #33b3e1;
  --color-blue-600: #20a8d9;
  --color-blue-700: #1986ae;
  --color-blue-800: #136582;
  --color-blue-900: #0c4357;
  --color-blue-950: #06222b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
